In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("HTRU_2.csv",header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [6]:
#First we want to build some supervised models. As a base line we have a couple of options. 
#Naive-Bayes is a good go to however our features data is continuous which is not ideal for bayes
#Logistic regression is as a very good starting point and can easily be produced. 
#However, there are a few things to note about this data. We already know it continuous. 
#We also know that the data has a multivariate normal distribution. 
#This means that we can use a Gaussian Discriminant Analysis model

In [8]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [11]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
#lda = LDA(n_components=1)
#X_train = lda.fit_transform(X_train, y_train)
#X_test = lda.transform(X_test)
lda = LDA()
lda.fit(X_train,y_train)
lda_y = lda.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, lda_y)
print(cm)
accuracy_score(y_test, lda_y)
#92.75 true positive rate (TPR)

[[4076   24]
 [  68  307]]

0.9794413407821229

In [14]:
lda_scaled = LDA()
lda_scaled.fit(X_train_scaled,y_train)
lda_y_scaled = lda_scaled.predict(X_test_scaled)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, lda_y_scaled)
print(cm)
accuracy_score(y_test, lda_y_scaled)
#It appears it makes absolutely no difference if the data is scaled or not

[[4076   24]
 [  68  307]]

0.9794413407821229

In [17]:
from sklearn.linear_model import LogisticRegression
log_cla = LogisticRegression(random_state = 0)
log_cla.fit(X_train_scaled, y_train)
log_pred = log_cla.predict(X_test_scaled)

In [18]:
cm = confusion_matrix(y_test, log_pred)
print(cm)
accuracy_score(y_test, log_pred)
#91.98% true positive rate

[[4072   28]
 [  54  321]]

0.9816759776536312

In [19]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA
qda = QDA()
qda.fit(X_train,y_train)
qda_pred = qda.predict(X_test)

In [20]:
cm = confusion_matrix(y_test, qda_pred)
print(cm)
accuracy_score(y_test, qda_pred)

[[3998  102]
 [  49  326]]

0.9662569832402235